# Import necessary libraries

In [1]:
import pandas as pd

# Get the data

In [2]:
df_data = pd.read_csv('salaries_by_college_major.csv')

In [3]:
df_data.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

# Data exploration and cleaning

* How many rows does our dataframe have? 

* How many columns does it have?

* What are the labels for the columns? Do the columns have names?

* Are there any missing values in our dataframe? Does our dataframe contain any bad data?

In [4]:
# No. of rows
df_data.shape[0]

51

In [5]:
# No. of columns
df_data.shape[1]

6

In [6]:
# Column names
df_data.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [7]:
# Get the number of missing values in each columns
df_data.isna().sum().sort_values(ascending=False)

Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
Undergraduate Major                  0
dtype: int64

In [8]:
df_data.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [9]:
# Drop the rows with missing values
df_data.dropna(inplace=True)

In [10]:
df_data.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

# Accessing Columns and Individual Cells in a Dataframe

In [11]:
# Find College Major with highest starting salaries
df_data['Starting Median Salary'].max()

74300.0

In [12]:
# Which major earns the highest starting salary?
highest_starting_salary_row_num = df_data['Starting Median Salary'].idxmax()    # Get the row number
df_data['Undergraduate Major'].loc[highest_starting_salary_row_num]

'Physician Assistant'

In [13]:
# Retrieve the information of an entire row
df_data.loc[highest_starting_salary_row_num]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

* What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [14]:
df_data['Mid-Career Median Salary'].max()

107000.0

In [15]:
highest_mid_career_salary_row_num = df_data['Mid-Career Median Salary'].idxmax()
df_data['Undergraduate Major'].loc[highest_mid_career_salary_row_num]

'Chemical Engineering'

In [16]:
df_data.loc[highest_mid_career_salary_row_num]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

* Which college major has the lowest starting salary and how much do graduates earn after university?

In [17]:
df_data['Starting Median Salary'].min()

34000.0

In [18]:
lowest_starting_salary_row_num = df_data['Starting Median Salary'].idxmin()
df_data['Undergraduate Major'].loc[lowest_starting_salary_row_num]

'Spanish'

In [19]:
df_data.loc[lowest_starting_salary_row_num]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

* Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [20]:
df_data['Mid-Career Median Salary'].min()

52000.0

In [21]:
lowest_mid_career_salary_row_num = df_data['Mid-Career Median Salary'].idxmin()
df_data['Undergraduate Major'].loc[lowest_mid_career_salary_row_num]

'Education'

In [22]:
df_data.loc[lowest_mid_career_salary_row_num]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

# Sorting Values & Adding Columns: Majors with the Most Potential vs Lowest Risk

In [23]:
# Get the difference between the 10th percentile salary and 90th percentile salary
spread_col = df_data['Mid-Career 90th Percentile Salary'] - df_data['Mid-Career 10th Percentile Salary']

# Make a column 'Spread' at postiion 1
df_data.insert(1, 'Spread', spread_col)

In [24]:
df_data.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [25]:
# Get the top 5 low_risk major
low_risk_major = df_data[['Undergraduate Major', 'Spread']].sort_values(by='Spread', ascending=True).head()
low_risk_major

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

# Grouping and Pivoting Data with Pandas

In [26]:
# Get the count of groups
df_data.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [37]:
# Average salary by group
cleaned_df = df_data.drop(['Undergraduate Major'], axis=1)

# Correct the float display format to two decimal places
pd.options.display.float_format = '{:,.2f}'.format
cleaned_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

# Extra Credit:

Updating Post-Degree Earnings: Extracting Current Finance Degree Holder Data from [PayScale's Website](https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors)